@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "DINPro Regular";
  src: url("/fonts/DINProRegular.otf") format("opentype");
}

@font-face {
  font-family: "DINPro Regular";
  font-weight: bold;
  src: url("/fonts/DINProBold.otf") format("opentype");
}

body {
  font-family: "DINPRo Regular";
}

swiper-container::part(pagination) {
  text-align: right;
}

footer {
  background-color: #424242;

  img {
    filter: invert();
  }
}
